<%= form_for :session, url: login_path do |f| %>

  <% if flash.key?(:alert) %>
    <%= flash[:alert] %>
  <% end %>

  <p>
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  
  <%= f.submit %>
<% end %>
